{% extends 'base.html.twig' %}

{% block title %}Mettre à jour une histoire{% endblock %}

{% block body %}

<div class="container">
	<div class="content">
		<h1>Modifier une histoire</h1>
		<!--{{ form_label(formulaire.title, 'Titre') }}-->

		{{form(formulaire)}}
		<div class='margin-top'>
			<a href="{{path('show_stories')}}">Retour aux histoires</a>
		</div>
	</div>
</div>

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('CSS/style-admin.css') }}">
{% endblock %}